#image-one {
  background-image: url('../img/675lt-one.jpg');
}

#image-two {
  background-image: url("../img/675lt-two.jpg");
}

#image-three {
  background-image: url("../img/675lt-three.jpg");
}

#image-four {
  background-image: url("../img/675lt-four.jpg");
}

#image-five {
  background-image: url("../img/675lt-five.jpg");
}
